<section id="hero">
    <div class="container">
      <p class="heading text-center mt-5">Search your github name here</p>
      <div class="searchwrapper">
        <div class="searchbox">
          <div class="wrapper">
            <div class="searchBar">
                <input id="searchQueryInput" type="text"  placeholder="Enter github username" [(ngModel)]="userQuery" name="userQuery"/>
                 <button type="button" class="btn btn-dark" (click)="searchUser()"> search </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
